<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OpsWorks</title>
  </head>
  <body>
    <h1>This is a recipe</h1>

    <h2>My name is: <b><%= node['hostname'] %></b>
    </h2>

    <p>
      <h3>Served from: <b><%=  node['ipaddress']%></b>
      </h3>
    </p>

  </body>
</html>
